li.nav-item:hover{border-bottom: solid 3px yellow;}
a.nav-link{font-size: 14px;}
i.fa-search{color: grey;}

a.garanta:hover{border: none;}
a.garanta{border-bottom: solid 3px yellow;}
.buttonjoguegratis{background-color:yellow;
	width: 500px;
	margin-top: 620px;
	margin-left: 700px;
	border: none;
	height:90px; }

.botaoandroid{position: absolute;
	margin-top: 100px;
	transition: transform .2s; 
  }
 .botaoandroid:hover{opacity:0.9; }
 /*pagina assistir */
 li.nav-item:hover{border-bottom: solid 3px yellow;}
a.nav-link{font-size: 14px;}
i.fa-search{color: grey;}

a.assistir:hover{border: none;}
a.assistir{border-bottom: solid 3px yellow;}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
/*Pagina de noticias */
li.nav-item:hover{border-bottom: solid 3px yellow;}
a.nav-link{font-size: 14px;}
i.fa-search{color: grey;}

a.noticia:hover{border: none;}
a.noticia{border-bottom: solid 3px yellow;}

.card1:hover{border-bottom: solid 7px #03B7FF;
}

.buttonvermais{background-color:yellow;
	width: 300px;
	margin-top: 300px;
	margin-left: 430px;
	border: none;
	height:50px; }

