li.nav-item:hover{border-bottom: solid 3px yellow;}
a.nav-link{font-size: 14px;}
i.fa-search{color: grey;}


.buttonjoguegratis{background-color:yellow;
	width: 500px;
	margin-top: 650px;
	margin-left: 700px;
	border: none;
	height:90px; }

.botaoandroid{position: absolute;
  }